body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #AA77FF; /* Background color */
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background: linear-gradient(145deg, #ffffff, #e6e6e6); /* Gradient background */
    padding: 28px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2), -8px -8px 20px rgba(255, 255, 255, 0.5); /* 3D effect */
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.3s; /* Smooth transition */
}

.container:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.heading {
    font-size: 28px;
    color: #3f51b5; /* Heading color */
}

.input {
    height: 53px;
    width: 300px;
    background-color: #ffffff;
    border: 2px solid #3f51b5; /* Border color */
    font-size: 16px;
    padding: 0 15px; /* Adjust padding */
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Shadow for input */
    transition: border-color 0.3s; /* Transition for border color */
}

.input:focus {
    outline: none; /* Remove outline */
    border-color: #1a73e8; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.5); /* Glow effect */
}

.info-text {
    color: #555; /* Info text color */
}

.meaning-container {
    display: none;
    color: #333; /* Meaning text color */
    font-size: 1.5rem;
    margin-top: 20px; /* Add space above meaning */
}

.audio-controls {
    margin-top: 10px; /* Space for audio controls */
}

.button {
    margin-top: 15px; /* Space above button */
    padding: 10px 20px;
    background-color: #3f51b5; /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Shadow for button */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.button:hover {
    background-color: #1a73e8; /* Darker shade on hover */
    transform: translateY(-3px); /* Slight lift effect on hover */
}
